/* Reset básico para márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Fondo blanco para la página */
    color: #333; /* Color de texto base */
}

.content {
    flex: 1; /* Toma el resto del espacio disponible */
    padding: 20px;
    padding-top: 101px;
    background-color: white; /* Fondo blanco para el contenido */
}

.form-section {
    background-color: white; /* Fondo blanco para la sección del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center{
    width: 50%;
    margin: auto;
    text-align: center;
}
.form-section h2 {
    margin-bottom: 20px;
    color: #B25068; /* Color de encabezado rosado */
}
#busCategoria,#enviarProducto{
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#fechaHoraActual,#fecha{
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea , select{
    width: 100%;
    padding: 10px;
    margin-bottom: 1px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    width: auto; /* Ajusta a auto o un valor específico si deseas un ancho fijo */
    padding: 10px 20px; /* Ajusta el padding para que ambos botones sean del mismo tamaño */
    margin: 10px 5px; /* Margen alrededor de los botones */
    display: inline-block; /* Asegura que los botones estén en la misma línea */
    background-color: #F28FB6; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px !important; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición en el fondo */
}

/* Ajusta el hover de los botones */
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover {
    background-color: #B25068; /* Color rosado más oscuro al pasar el ratón */
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la dirección del flexbox a columna en pantallas más pequeñas */
    }
    
    .sidebar {
        flex: 0 0 auto;
        width: 100%; /* Barra lateral ocupa todo el ancho */
    }
    
    .content {
        flex: 1 0 auto;
    }
}
/* Estilos para tablas */
table {
    width: 100%; /* Asegura que la tabla ocupe el ancho completo disponible */
    border-collapse: collapse; /* Elimina el espacio entre los bordes de las celdas */
    margin-bottom: 20px; /* Espacio debajo de la tabla */
}

th, td {
    padding: 10px; /* Espacio dentro de las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior de las celdas */
}

th {
    background-color: #F7D1E8; /* Color de fondo para las cabeceras de la tabla */
    color: #B25068; /* Color del texto en las cabeceras */
    font-weight: bold; /* Negrita en las cabeceras */
}

tr:nth-child(even) {
    background-color: #F9F9F9; /* Color de fondo alternante para filas pares */
}

tr:hover {
    background-color: #FFE4E1; /* Color de fondo al pasar el ratón sobre las filas */
}

.inactive-row {
    background-color: #f8d7da; /* Color de fondo rojo claro */
}

.button-agregar {
    width: 15% ; /* Ancho del 10% del contenedor principal */
    margin-bottom: 10px; /* Espacio debajo del botón */
    margin-left: 80%; /* Alinear a la izquierda */
}

.imgCentrado{
	width: 80%;
}

.g{
    background-color: #B25068;
}