
html, body {
    height: 100%;
    margin: 0;
}


.container-fluid {
    display: flex;
    height: 100vh; 
    overflow: hidden;
    margin-top: 101px;
}


.menu-lateral {
    width: 20%; 
    background-color: hsla(1,37%,60%,1.00); 
    color: white;
    height: 100%; 
    position: fixed; 
    left: 0; 
    padding: 15px;
    box-shadow: 10px 0 10px 0 rgb(218, 216, 216);
}

/* Estilo del contenido principal */
.cont-principal {
    margin-left: 20%; 
    padding: 15px;
    height: 100vh; 
}
